body {
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.container {
    background-color: rgb(153, 136, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 200px;
    box-shadow: 2px 2px 10px;
    border-radius: 20px;

}

.botoes {
    margin-left: 130px;
}


.enviar {
    background-color: green;
    border-radius: 20px;
}

.enviar:hover {
    background-color: yellow;
    border: 2px solid black;
    color: black;
}

.limpar {
    background-color: red;
    border-radius: 20px;
}

.limpar:hover {
    background-color: yellow;
    border: 2px solid black;
    color: black;
}